<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="server=.\SQLEXPRESS;database=LicenceUpdatedb;integrated security=sspi" name="siemensDbConStr1"/>
  </connectionStrings>
  <appSettings>
    <add key="AuthenticateUserQuery" value="AuthenticateUser"/>
    <add key="formatFile" value="C:\\Users\\Alchemy.DESKTOP-V8A10HM\\Desktop\\CSharp\\New folder\\LicenceUpdate\\Header_information.txt"/>
  </appSettings>
</configuration>